---
    import Continuacion from "./Continuacion.svelte";
    import LineasResistencias from "./LineasResistencias.svelte";
import LineasSoporte from "./LineasSoporte.svelte";
    LineasSoporte
    import PatronReversion from "./PatronReversion.svelte";
    import PerdidaImpulso from "./PerdidaImpulso.svelte";
    import Revercion from "./Revercion.svelte";
    import TendenciaAlcista from "./TendenciaAlcista.svelte";
    import TendenciaBajista from "./TendenciaBajista.svelte";
    import VelasIndesicion from "./VelasIndesicion.svelte";
    import ZonaConfluencia from "./ZonaConfluencia.svelte";
---

<dialog id="Continuacion">
    <Continuacion/>
</dialog>
<button onclick="Continuacion.showModal()">
    Continuacion
</button>
<dialog id="LineasResistencias">
    <LineasResistencias/>
</dialog>
<button onclick="Continuacion.showModal()">
    Continuacion
</button>
<dialog id="PatronReversion">
    <PatronReversion/>
</dialog>
<button onclick="Continuacion.showModal()">
    Continuacion
</button>
<dialog id="PerdidaImpulso">
    <PerdidaImpulso/>
</dialog>
<dialog id="Revercion">
    <Revercion/>
</dialog>
<dialog id="TendenciaAlcista">
    <TendenciaAlcista/>
</dialog>
<dialog id="TendenciaBajista">
    <TendenciaBajista/>
</dialog>
<dialog id="VelasIndensicion">
    <VelasIndesicion/>
</dialog>
<dialog id="ZonaConfluencia">
    <ZonaConfluencia/>
</dialog>